button {
  box-sizing: border-box;
  color: white;
  font-weight: 700;
  font-size: 18px;
  width: 379px;
  height: 67px;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
